<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Community GOTY {{ config.year }}</title>
    <style>
        {% include "_style.css" %}
    </style>
    <style id="show-ratings-style">
        .rating {
            visibility: hidden;
        }
    </style>
  </head>
  <body>
    <h1>Community GOTY {{ config.year }} voting</h1>
    <p>
        Vote for your favorite video games released in {{ config.year }}.
    </p>
    <p>
        At a later date, the results will be revealed. If you do not want to
        reveal what games you voted for, click the "Hide vote" checkbox.
    </p>
    <div>
        {% if discord_user %}
        <p>
            Logged in as
            <img src="{{ discord_user.avatar_url }}" style="font-size: 2em" class="icon">
            {{ discord_user.username }}.
            <a href="{{ url_for('discord_logout') }}">Logout</a>
        </p>
        <p>
            <label for="show-ratings">
                Show
                <abbr title="Provided by IGDB">Internet provided ratings</abbr>:
                <input type="checkbox" id="show-ratings">
            </label>
        </p>
        {% else %}
        {% if discord_auth_url %}
        <p><a href="{{ discord_auth_url }}">Login with Discord</a></p>
        {% endif %}
        {% endif %}
    </div>
    {% if discord_user %}
    <div class="my-votes">
        <p>You have {{ user_votes.remaining }} remaining votes in the free category.</p>
        {% for genre, data in user_votes.genres.items() %}
        <p>You have {{ data.remaining }} remaining votes in the {{ genre }} category.</p>
        {% endfor %}
        {% if user_votes.votes or (user_votes.genres.values() | selectattr('votes') | list | length > 0) %}
        <p>Your voted games:</p>
        {% endif %}
        <div class="games">
            {% if user_votes.votes %}
            {% for vote in user_votes.votes %}
            {% with vote_category='free' %}
            {% include "_voted_game.html.j2" %}
            {% endwith %}
            {% endfor %}
            {% endif %}

            {% for genre, data in user_votes.genres.items() %}
            {% if data.votes %}
            {% for vote in data.votes %}
            {% with vote_category=genre %}
            {% include "_voted_game.html.j2" %}
            {% endwith %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <form id="search-form">
      <input type="text" id="search-input" placeholder="Type the name of your favorite game..." autocomplete="off">
    </form>
    <div id="results" class="games"></div>

    <script>
        const form = document.getElementById('search-form');
        const input = document.getElementById('search-input');
        const resultsList = document.getElementById('results');
        const debounceDelay = 300;

        // if 1s without typing a letter
        let timeout = null;
        input.addEventListener('input', () => {
            clearTimeout(timeout);
            timeout = setTimeout(() => {
                searchGames(input.value);
            }, debounceDelay);
        });

        const ITEM_TEMPLATE = `
            <div>
                <div>
                    <div style="position: relative;">
                        <a href="{igdb_url}" target="_blank"><img src="{cover_url}"></a>
                        <a href="{igdb_url}" class="name" target="_blank">{name}</a>
                    </div>
                    <div class="meta">
                        <p class="data" data-value="{first_release_date}">{first_release_date}</p>
                        <p class="data" data-value="{involved_companies}">by {involved_companies}</p>
                        <p class="data" data-value="{platforms}">On {platforms}</p>
                        <p class="data" data-value="{genres}">Genres: {genres_html}</p>
                        <p class="data rating" data-value="{rating}">Rating: {rating}</p>
                    </div>
                </div>
                <div class="actions">
                    <button onclick="voteGame('{escaped_name}')">Vote for this game</button>
                </div>
            </div>`;

        async function searchGames(query) {
            resultsList.innerHTML = '';
            if (!query)
                return;

            const response = await fetch(`/api/games/?q=${encodeURIComponent(query)}`);
            const data = await response.json();
            data.forEach(game => {
                var itemHtml = ITEM_TEMPLATE;
                for (let [key, value] of Object.entries(game)) {
                    console.log(`Replacing {${key}} with ${value}`);
                    itemHtml = itemHtml.replaceAll(`{${key}}`, value || '');
                }
                const itemElem = new DOMParser().parseFromString(itemHtml, 'text/html');
                for (const elem of itemElem.querySelectorAll('.data')) {
                    if (!elem.getAttribute('data-value') || elem.getAttribute('data-value') === '[]') {
                        itemHtml = itemHtml.replace(elem.outerHTML, '');
                    }
                }
                resultsList.insertAdjacentHTML('beforeend', itemHtml);
            });
        }

        const showRatingsCheckbox = document.getElementById('show-ratings');
        const showRatingsStyle = document.getElementById('show-ratings-style');

        showRatingsCheckbox.checked = false;

        showRatingsCheckbox.addEventListener('change', () => {
            if (showRatingsCheckbox.checked) {
                showRatingsStyle.innerHTML = `
        .rating {
            visibility: visible;
        }`;
            } else {
                showRatingsStyle.innerHTML = `
        .rating {
            visibility: hidden;
        }`;
            }
        });

        async function voteGame(gameName) {
            const response = await fetch('/api/vote/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ game_name: gameName, discord_access_token: '{{ discord_access_token }}' }),
            });
            if (response.status >= 200 && response.status < 300) {
                window.location.reload();
            } else {
                alert(`Failed to vote for ${gameName}: ${response.status} ${await response.text()}`);
            }
        }

        async function removeVote(gameName) {
            const response = await fetch('/api/vote/', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ game_name: gameName, discord_access_token: '{{ discord_access_token }}' }),
            });
            if (response.status >= 200 && response.status < 300) {
                window.location.reload();
            } else {
                alert(`Failed to delete vote for ${gameName}: ${response.status} ${await response.text()}`);
            }
        }

        document.querySelectorAll(".my-votes .hide-vote").forEach(e => {
            e.addEventListener('change', async () => {
                const gameName = e.getAttribute('data-name');
                const response = await fetch('/api/vote/', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ game_name: gameName, discord_access_token: '{{ discord_access_token }}', hidden: e.checked}),
                });
                if (response.status > 400) {
                    alert(`Failed to change vote visibility for ${gameName}: ${response.status} ${await response.text()}`);
                }
            });
        });
    </script>
  </body>
</html>
